# .dockerignore

# data
data/

# mlflow
mlruns/
mlflow.db

# secrets
.streamlit/secrets.toml
.env

# dev
.venv/
.git/
__pycache__/
*.pyc
notebooks/
tests/

# dvc
*.dvc
.dvc/

# old models
models/
!models/efficientnet_b3_UF6_best.pt
!models/best_model_report.yaml