# requirements.txt

# # core ML             - leave out for lighter docker build
# torch==2.2.2
# torchvision==0.17.2

# data
numpy==1.26.4
pandas==2.2.2
Pillow==10.4.0
scikit-learn==1.5.0

# app
streamlit==1.37.0
openai==2.33.0

# config + utils
pyyaml==6.0.1
mlflow==3.11.1

# testing
pytest==8.3.2